<!DOCTYPE html>
<html>
  {% include head.html %}


    <body>

    {% include nav.html %}

    <!-- {% include banner.html %} -->

    {% include post-heading.html %}


    <div class="post">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              {{ content }}
          </div>
        </div>
      </div>
    </div>

    <!-- build:js(app) /js/scripts.js -->
    <script src="/_bower_components/jquery/dist/jquery.js"></script>
    <script src="/_bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="/_bower_components/html2canvas/build/html2canvas.js"></script>
    <script src="/_bower_components/jspdf/dist/jspdf.debug.js"></script>
    <script src="/js/main.js"></script>
    <!-- endbuild -->
    </body>
</html>
