<nav class="navbar navbar-default horizontal-gradient" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle button ionic" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <i>菜单</i>
      </button>
      <a class="navbar-brand" href="/">
        
          <img src="/img/logo.svg" width="123" height="43" alt="金特集团方案">

      </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" href="">首页</a></li>
        <li><a class="nav-link" href="">方案</a></li>
      </ul>
    </div>
  </div>
</nav>

